//- banner full width

+table_1img('https://gallery.mailchimp.com/466820d07cd9e003197d52b79/images/6d951648-53e9-451e-a0c3-b00d52be65c1.png', 'banner full width')
table
  tr
    td.text-left.px-global.bg-pink-light
      +spacer(20)
      <!--[if mso]>
      <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#" style="height:40px;v-text-anchor:middle;width:420px; display: block;" arcsize="15%" stroke="f" fillcolor="#90c365">
        <w:anchorlock/>
        <center>
      <![endif]-->
      <a href="#" style="-webkit-text-size-adjust: none; display: block; Margin: 0; line-height: 20px; background-color: #90c365; border-radius: 5px; color: #ffffff; display: inline-block; font-family: sans-serif; font-size: 14px; font-weight: bold; margin: 0; text-align: center; text-decoration: none; padding: 10px 15px;">Watch A/Prof Alice Cheng present the Bright study data</a>
      <!--[if mso]>
        </center>
      </v:roundrect>
      <![endif]-->
      +spacer(20)
//- End banner full width