include ../mixins/_mixins
<!---Begin logo header-->
+table_1img_a('https://gallery.mailchimp.com/466820d07cd9e003197d52b79/images/94db86ac-b681-4ccf-9115-29b87ce13cc1.png','header hero banner','#').hero-banner-header
<!---End logo header-->