//- Begin box in box 
table.box_in_box
  tr
    td.p-global
      table.bg-secondary.hide-mobile
        tr
          td.px-global.py-half-global.text-light <strong><i> “[U300 glargine] was associated with lower incidence and rates of anytime (24-h) confirmed hypoglycaemia (≤70 and &lt;54 mg/dL ) than [U100 degludec] during the 0-12-week period when most of the insulin dose titration and plasma glucose reduction occurred.” <br></i> </strong> <i><small class="text-white" style="color: white !important; font-size: 10px;">- Rosenstock et al, 2018</small></i>
      table.hide-pc
        tr
          td mobile showwwwwwwwmobile showwwwwwwwmobile showwwwwwwwmobile showwwwwwwwmobile showwwwwwwwmobile showwwwwwwwmobile showwwwwwww
//- End box in box