//- begin footer
table.bg-secondary
  tr
    td.px-global
      table
        tr
          td.text-light.text-tiny.text-center.py-half-global.line-height-15(align="center") Sanofi-Aventis Australia PTY LTD trading as Sanofi, ABN 31 008 558 807 Talavera Corporate Centre, Building D, 12–24 Talavera Road, Macquarie Park, NSW 2113 SANZ.XXXX.XXXX DIB0014 Date of preparation: November 2018.
//- End footer