include ../mixins/_mixins
<!---Begin header-->
table.table-header-bg.bg-secondary
  tbody
    tr
      th.px-global.text-light
        table
          tbody
            tr
              td.text-left.text-small.text-light First H2H data: U300 glargine vs U100 degludec
              td.text-right.text-small
                a(href="#").text-light.text-underline.text-right.text-small View online
<!---End header-->
