
//- content para with bg
table.bg-light-green
  tr
    td
      +spacer(20)
  tr
    td.px-global.text-left.text-secondary Primary endpoint: Effective HbA<sub>1c</sub> reduction of -1.6% with U300 glargine, non-inferior vs U100 degludec, ITT population.
  tr
    td
      +spacer(20)
  tr
    td.px-global.text-left HbA<sub>1c</sub> change: LS mean difference vs U100 degludec: -0.05%; 95% CI -0.15 to 0.05; p&lt;0.0001 for non-inferiority of U300 glargine vs U100 degludec.
  tr
    td
      +spacer(20)
//- content para with bg