//- content para 2 list
table.bg-light-green
  tbody
    tr
      td
        +spacer(20)
    tr
      td.px-global <strong class="text-secondary text-lead" style="color: #461e6c;">BRIGHT study design</strong> 
    tr
      td
        +spacer(20)
    tr
      td.px-global <strong class="text-bold text-secondary">BRIGHT</strong> is<strong> the first head-to-head study comparing the efficacy and safety of two second-generation basal insulin analogues,</strong> offering a valuable insight into the similarity in glycaemic control and difference in hypoglycaemia risk associated with U300 glargine and U100 degludec.<br>
    tr
      td
        +spacer(20)
    tr
      td.px-global <strong class="text-bold text-secondary">BRIGHT</strong>was a 24-week randomised, multicentre, open-label non-inferiority study following 929 insulin-naïve patients with T2DM uncontrolled by OADs with or without GLP-1 receptor agonists. Patients from 16 countries (158 study sites) were randomised 1:1 to receive an evening dose of U300 glargine (n=466) or U100 degludec (n=463). Achievement of the fasting self-monitored plasma glucose target was aimed for during the active titration period (weeks 0–12), but dose titrations were still allowed thereafter.
    tr
      td
        +spacer(10)
    tr
      td.text-tiny.px-global CI, confidence interval; GLP-1, glucagon-like peptide-1; H2H, head-to-head; ITT, intent-to-treat; LS, least-squares; OAD, oral anti-hyperglycaemic drug; RR, rate ratio; T2DM, type 2 diabetes mellitus.
    tr
      td
        +spacer(20)
    tr
      td.text-left.px-global.bg-light-green
        <!--[if mso]>
        <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#" style="height:40px;v-text-anchor:middle;width:420px; display: block;" arcsize="15%" stroke="f" fillcolor="#90c365">
          <w:anchorlock/>
          <center>
        <![endif]-->
        <a href="#" style="-webkit-text-size-adjust: none; display: block; Margin: 0; line-height: 20px; background-color: #90c365; border-radius: 5px; color: #ffffff; display: inline-block; font-family: sans-serif; font-size: 14px; font-weight: bold; margin: 0; text-align: center; text-decoration: none; padding: 10px 15px;">Watch A/Prof Alice Cheng present the Bright study data</a>
        <!--[if mso]>
          </center>
        </v:roundrect>
        <![endif]-->
        +spacer(20)
//- content para 2 list