//- begin references
table.section-references
  tr
    td.px-global
      table
        tr
          td
            +spacer(20)
        tr
          td.text-lead References
        tr
          td
            +spacer(20)
        tr
          td
            +list('Ritzel R et al. Diabetes Obes Metab 2018; 20(3): 541–8.','Toujeo Approved Product Information.', 'Yki-Järvinen H et al. Diabetes Care 2014; 37(12): 3235–43.', 'Riddle MC et al. Diabetes Care 2014; 37(10): 2755–62.', 'Bolli GB et al. Diabetes Obes Metab 2015; 17: 386–94.', 'Home PD et al. Diabetes Care 2015; 38:2217–2225.', 'Rosenstock J, et al. Diabetes Care 2018;41:2147–2154.').list-references
        tr
          td
            +spacer(20)
//- End references