include ../mixins/_mixins
<!--- Begin section Why -->
table.section_why
  tr
    td.px-global
      table
        tr
          td
            +title_section('Why hypoglycaemia matters')
        tr
          td
            +spacer(15)
        tr
          td Hypoglycaemia is the most common and concerning adverse effect of diabetes medication.<sup>2</sup>
        tr
          td(height="5").line-height-0
           
        tr
          td It matters because:
        tr
          td(height="5").line-height-0
          
        tr
          td.px-half-global
            +list('T2DM patients suffering severe hypoglycaemia have almost 3 times increased risk of cardiovascular death<sup>3</sup>', 'nocturnal hypoglycaemic events reduce sleep quality, and 7 out of 10 lead to daytime tiredness<sup>4</sup>', 'it makes 61% of family members worry about their loved one.<sup>5</sup>')
        tr
          td
            +spacer(10)
        tr
          td Hypoglycaemia or a fear of hypoglycaemia may also have negative effects on: 
        tr
          td
            +spacer(10)
        tr
          td.px-half-global
            +list('initiation of insulin therapy<sup>5</sup>', 'effective insulin titration<sup>6</sup>', 'patient confidence<sup>7</sup>', 'treatment experience and compliance<sup>8</sup>', 'glycaemic control.<sup>2,6-8</sup>')
        tr
          td
            +spacer(20)
<!--- End section Why -->