<!-- Begin contact us -->
table.contact-us
  tr
    td.px-global
      table
        tr
          td
            +spacer(30)
        tr
          td.text-contact If you want more information or need more assistance, <a href="">Contact us</a> . <br> Thank you for interested in VICOSTONE.
        tr
          td
            +spacer(30)
<!-- End contact us -->