include ../mixins/_mixins
<!-- begin footer -->
table.bg-gray.footer
  tr
    td.px-global
      table
        tr
          td
            +spacer(20)
        tr
          td
            table
              tr
                td.w-25
                  +table_1img_a('http://i557.photobucket.com/albums/ss13/mizuneko86/logo_zpsisuktdtd.png','logo footer', '#')
                td.w-75.pl-20
                  table
                    tr
                      td
                        a(href="#").link-footer.no_underline.text-black Vicostone Joint Stock Company
                    tr
                      td.text-tiny Vicostone Quartz Surfaces®
                    tr
                      td
                        <hr style="margin-top:10px; margin-bottom:10px;">
                    tr
                      td.text-small Address: Hoa Lac High-Tech Park, Thach Hoa, Thach That, Ha Noi, Viet Nam Phone:<a href="#"  class="no_underline text-black"> +842 423 477 286</a>- Fax:<a href="#" class="no_underline text-black"> +842 433 686 652</a> - Website:<a href="#" class="no_underline text-black"> www.vicostone.com</a> <br> FB page: <a href="#" class="no_underline text-black">http://www.facebook.com/VicostoneGlobal/<a>
        tr
          td
            +spacer(15)
        tr
          td
            +table_1img('http://i557.photobucket.com/albums/ss13/mizuneko86/list-brands_zps2epfnfea.png','footer logo')
<!-- End footer -->