include ../mixins/_mixins
<!-- Begin header vincosonte -->
table.vincostone_header
  tr
    td.px-global
      table
        tr
          td
            +spacer(40)
        tr
          td <strong>ORDER SAMPLES</strong>
        tr
          td
            +spacer(10)
        tr
          td Order <i>#20180722T170015</i>
        tr
          td
            +spacer(30)
        tr
          td Dear [name],
        tr
          td
            +spacer(30)
        tr
          td Thank you for co-operation with VICOSTONE. We just received your sample order, details are indicated below.
        tr
          td
            +spacer(30)
<!-- End header vincosonte -->