include ../mixins/_mixins
<!-- Begin header vincosonte -->
table.vincostone_header
  tr
    td.px-global
      table
        tr
          td
            +spacer(30)
        tr
          td <strong>REGISTRATION INFORM</strong>
        tr
          td
            +spacer(25)
        tr
          td Dear [site name/name],
        tr
          td
            +spacer(30)
        tr
          td A customer just applied for warranty registration in [site address]. Details:
        tr
          td
            +spacer(30)
<!-- End header vincosonte -->