include ../mixins/_mixins
<!-- Begin header vincosonte -->
table.vincostone_header
  tr
    td.px-global
      table
        tr
          td
            +spacer(40)
        tr
          td Dear [site (Vicostone USA, Vicostone Vietnam, Vicostone Global, Vicostone Canada)], 
        tr
          td
            +spacer(30)
        tr
          td You have a message from visitor via Vicostone’s website:
        tr
          td
            +spacer(35)
<!-- End header vincosonte -->