include ../mixins/_mixins
<!-- begin contact-us info -->
table.section-contact-us
    td.px-global
      table
        tr
          td
            table.contact-us-info
              tr
                th site:
                td Us
              tr
                th Email:
                td michael.g.mills@windstream.net
              tr
                th Name:
                td Michael Mills
              tr
                th Subject:
                td Others
              tr
                th Type Of Customer:
                td Home owner
              tr
                th Phone:
                td 9182525213
              tr
                th Address:
                td 7606 E. 67th Place
              tr
                th City: 
                td Tulsa
              tr
                th Zip Code:
                td 74133
              tr
                th Message:
                td To Vicostone: Your website offers a visualizer. Thank you. Could you update the visualizer to include a new product called Avalanche BQ8892? Thanks. MGM
        tr
          td
            +spacer(20)
<!-- End shipping info -->


