//- Begin Product items
table.product-items
  tr
    td.full-width.px-global
      img(src="http://i557.photobucket.com/albums/ss13/mizuneko86/BQ2600_zpswlyghkfy.jpg", alt="full width")
    tr
      td
        +spacer(30)
    tr
      td.px-global
        table
          tr
            td.w-50
              table
                tr
                  td
                    <h6 class="h6">technical specifications</h6>
                    +spacer(15)
                    <h6 class="h6"><i>slab dimensions</i></h6>
                    //- +spacer(10)
                    <p class="no-spacing-bottom">Normal size 144cm x 305cm (119" x 56")</p>
                    <p>Normal size 144cm x 305cm (119" x 56")</p>
                    +spacer(5)
                    <h6 class="h6"><i>thickness options</i></h6>
                    +spacer(5)
                    <p>12mm (1/2")</p>
                    <p>20mm (3/4")</p>
                    <p>30mm (1 1/6")</p>
                    +spacer(5)
                    <h6 class="h6 no-spacing-bottom" ><i>finish types</i></h6>
                    +spacer(5)
                    <p>Polished</p>
            td.w-50.vertical-top
              img(src="http://i557.photobucket.com/albums/ss13/mizuneko86/BQ2600-small_zpsjuewp9f0.jpg", alt="half width").w-100
    tr
      td
        +spacer(25)
//- End product items