include ../mixins/_mixins
<!-- Begin header vincosonte -->
table.vincostone_header
  tr
    td.px-global
      table
        tr
          td
            +spacer(40)
        tr
          td <strong>PRODUCT DETAIL</strong>
        tr
          td
            +spacer(30)
        tr
          td Dear [name],
        tr
          td
            +spacer(30)
        tr
          td Vicostone would like to send you details of [product name] below.
        tr
          td
            +spacer(15)
        tr
          td Product code: <strong>BQ8716</strong>
        tr
          td Product name: <strong>BQThunder Blue</strong>
        tr
          td
            +spacer(20)

<!-- End header vincosonte -->