include ../mixins/_mixins
<!-- begin shipping info -->
table.section-shipping
  tr
    td.px-global
      table
        tr
          td <strong>Registration Details</strong>
        tr
          td
            <hr>
        tr
          td
            +spacer(10)
        tr
          td
            table.shipping-info
              tr
                th Sitecore ID:
                td {63360AC6-3963-4C1B-BC60-9F3DFB56627A}
              tr
                th First Name:
                td DARRYL
              tr
                th Last Name:
                td COXON
              tr
                th Email:
                td DARRYLJCOXON@GMAIL.COM
              tr
                th Telephone:
                td 2108238164
              tr
                th Address:
                td 126 INSPIRATION DR
              tr
                th City:
                td SAN ANTONIO
              tr
                th Fabricator:
                td APEKKS GRANITE AND MARBLE
              tr
                th State:
                td Texas
              tr
                th Zip code:
                td 78228
              tr
                th Purchased Date:
                td 12-06-2018
              tr 
                th Installed Date:
                td 25-06-2018   
              tr
                th Slabs:
                td    
        tr
          td
            +spacer(20)
<!-- End shipping info -->


