include ../mixins/_mixins
<!-- begin Order detail -->
table.order-detail
  tr
    td.px-global
      table
        tr
          td.text-bold REQUEST DETAIL
        tr
          td
            <hr>
        tr
          td Order <i>#20180722T170015</i> <br> Placed on Sunday, July, 2018
        tr
          td
            +spacer(20)
        tr
          td
            table
              tr
                td.w-50
                  +table_1img('http://i557.photobucket.com/albums/ss13/mizuneko86/BQ8786_zpsiahcpocn.png','BQ810')
                td.w-50.pl-20.vertical-top
                  <a href="#">Beautmanaire</a> <i>BQ8100</i> 
                  +spacer(20)
                  table
                    tr
                      td <i>Size 4" x 4"<br>  </i>
                  table
                    tr
                      td
                        +spacer(20) 
                  table
                    tr
                      td <i>Quantity: 1 </i>
        tr
          td
            +spacer(20)
        tr
          td
            table
              tr
                td.w-50
                  +table_1img('http://i557.photobucket.com/albums/ss13/mizuneko86/BQ8786_zpsiahcpocn.png','BQ810')
                td.w-50.pl-20.vertical-top
                  <a href="#">Beautmanaire</a> <i>BQ8100</i> 
                  +spacer(20)
                  table
                    tr
                      td <i>Size 4" x 4"<br>  </i>
                  table
                    tr
                      td
                        +spacer(20) 
                  table
                    tr
                      td <i>Quantity: 1 </i> 
        tr
          td
            +spacer(30)
<!-- End Order detail -->