include ../mixins/_mixins
<!-- begin shipping info -->
table.bg-gray.section-shipping
  tr
    td.px-global
      table
        tr
          td 
            +spacer(20)
        tr
          td.text-lead SHIPPING INFO
        tr
          td
            <hr>
        tr
          td
            +spacer(10)
        tr
          td
            table.shipping-info
              tr
                th first name:
                td Deborah
              tr
                th Last name:
                td patterson
              tr
                th email address:
                td debpatterson58@gmail.com
              tr
                th Company name:
                td 
              tr
                th address:
                td 715 Meridian Court
              tr
                th Telephone:
                td 6309271750
              tr
                th City:
                td WHEATON
              tr
                th State:
                td Illinois
              tr
                th postal code:
                td 60189
              tr
                th country:
                td United states
              tr
                th type of customer:
                td Home owner
        tr
          td
            +spacer(20)
<!-- End shipping info -->


