//- start table border 
table.section-table-boder
  tr
    td.px-global
      <table class="table-border hide-mobile">
          <thead>
              <th class="text-bold">Prodcut</th>
              <th class="text-center tran-cap text-bold">stab</th>
              <th class="text-center tran-cap text-bold">run</th>
              <th class="text-center tran-cap text-bold">finish</th>
              <th class="text-center tran-cap text-bold">usage</th>
          </thead>
          <tbody>
              <tr>
                  <td class="tran-up">NERO MARQUINA</td>
                  <td class="tran-cap text-center">335</td>
                  <td class="tran-cap text-center">3171106</td>
                  <td class="tran-cap text-center">polished</td>
                  <td class="tran-cap text-center">kitchen</td>
              </tr>
              <tr>
                  <td class="tran-up">thunder blue</td>
                  <td class="tran-cap text-center">335</td>
                  <td class="tran-cap text-center">3171106</td>
                  <td class="tran-cap text-center">polished</td>
                  <td class="tran-cap text-center">kitchen</td>
              </tr>
          </tbody>
      </table>
      <table class="table-border-mobile hide-pc">
        <tr>
            <th><strong>Product</strong></th>
            <td><strong>NERO MARQUINA</strong></td>
        </tr>
        <tr>
            <th>Slab</th>
            <td>335</td>
        </tr>
        <tr>
            <th>Run</th>
            <td>3171106</td>
        </tr>
        <tr>
            <th>Finish</th>
            <td>Polished</td>
        </tr>
        <tr>
            <th>Usage</th>
            <td>Kitchen</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>Valid</td>
        </tr>
        <tr>
            <th><strong>Product</strong></th>
            <td><strong>THUNDER BLUE</strong></td>
        </tr>
        <tr>
            <th>Slab</th>
            <td>335</td>
        </tr>
        <tr>
            <th>Run</th>
            <td>3171106</td>
        </tr>
        <tr>
            <th>Finish</th>
            <td>Polished</td>
        </tr>
        <tr>
            <th>Usage</th>
            <td>Kitchen</td>
        </tr>
    </table>
