extends layout/_layout
block content
  include ./bright-1/_header
  include ./bright-1/_banner_1_logo
  include ./bright-1/_banner_hero
  include ./bright-1/_intro_para_list
  include ./bright-1/_intro_para_bg
  include ./bright-1/_banner_full_width
  include ./bright-1/_box_in_box
  include ./bright-1/_section_why
  include ./bright-1/_para_list_2
  include ./bright-1/_references
  include ./bright-1/_footer_bg
