extends layout/_layout
block content
  table.product-details
    tr
      td
        include ./vincostone/_product_detail
        include ./vincostone/_product_item
        include ./vincostone/_footer

  
