extends layout/_layout
block content
  table.request_to_user
    tr
      td
        include ./vincostone/_header_request_user
        include ./vincostone/_request_detail
        include ./vincostone/_section_shipping
        include ./vincostone/_contact_us
        include ./vincostone/_footer

  
